#discord-message-preview {
  img {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
  }

  .time {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.4);
  }

  P {
    margin-bottom: 0 !important;
  }
}