@use '@material/theme/color-palette' as material-color;

#validation-error {
    mdc-banner {
        border-left: 13px solid material-color.$red-900;
    }

    .mdc-banner__actions {
        align-items: center;
        align-self: center;
    }
}
