<!DOCTYPE html>
<html lang="en">
<head>
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <link rel="icon" href="favicon.ico">
    <!-- imported CSS are concatenated and added automatically -->
    <meta charset="utf-8">
    <title>Betsy Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6Ldk2jwhAAAAAGkAnBY61bCGPODEqz3cHANb6CWg"></script>
</head>
<body aurelia-app="main">
</body>
</html>
