<!DOCTYPE html>
<html lang="en">
<head>
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- imported CSS are concatenated and added automatically -->
    <meta charset="utf-8">
    <title>Betsy Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
</head>
<body aurelia-app="main">
</body>
</html>
