@use '~@material/button';
@use '~@material/theme';
@import 'bootstrap';

body {
  --mdc-theme-primary: rgba(87, 98, 213, 1);
  --mdc-theme-secondary: rgba(76, 96, 133, 1);
  --mdc-theme-on-primary: $body-bg;
  --mdc-background-primary: rgba(0, 0, 0, 0);
  --mdc-theme-surface: rgba(76, 96, 133, 1);
  --mdc-theme-text-primary-on-background: $body-color;
}

.button-secondary {
  @include button.filled-accessible(theme.$secondary);
}

.button-primary {
  @include button.filled-accessible(theme.$primary);
}

.list-item-background {
  background: rgba(76, 96, 133, 1) !important;
}

.mdc-tab .mdc-tab__text-label {
  color: $body-color;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: $card-color
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: $body-color;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: $body-color;
}

.mdc-drawer .mdc-drawer__title {
  text-align: center;
}
