//@use '@material/button';
@use '@material/theme';
@use '@material/select';
@use '@material/dialog';
@use '@material/textfield';
@use '@material/list';
@import 'bootstrap';

body {
    --mdc-theme-primary: rgba(0, 68, 204, 1);
    --mdc-theme-secondary: rgba(51, 151, 255, 1);
    --mdc-theme-on-primary: $body-bg;
    --mdc-background-primary: rgba(0, 0, 0, 0);
    --mdc-theme-surface: rgba(76, 96, 133, 1);
    --mdc-theme-text-primary-on-background: $body-color;
}

#confirmation-dialog {
    @include dialog.max-width(1400px, 16px);
    @include dialog.max-height(1000px, 16px);
}
//
//.button-secondary {
//    @include button.filled-accessible(theme.$secondary);
//}
//
//.button-primary {
//    @include button.filled-accessible(rgba(0, 68, 204, 1));
//}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field-character-counter, .mdc-text-field:not(.mdc-text-field--disabled) + .mdc-text-field-helper-line .mdc-text-field-character-counter {
    color: #dcddde
}

.mdc-evolution-chip {
    background-color: rgba(0, 68, 204, 1);

    .mdc-evolution-chip__text-label {
        color: #dcddde;
    }
}

.list-item-background {
    background: rgba(76, 96, 133, 1) !important;
}

.mdc-tab .mdc-tab__text-label {
    color: $body-color;
}

.light-betsy-select.mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text {
    color: $black;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: $card-color
}

.light-betsy-select:not(.mdc-select--disabled) .mdc-select__anchor {
    background-color: #dcddde !important;
}

.mdc-select__selected-text,
.mdc-floating-label--float-above,
.mdc-select__icon {
    color: #dcddde !important;
}
.mdc-floating-label {
    color: #dcddde !important;
}

.standard-betsy-select:not(.mdc-select--disabled) .mdc-select__anchor {
    background-color: #36393f !important;
    color: $body-color !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: $body-color !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #36393f !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: $body-color;
}

.mdc-drawer .mdc-drawer__title {
    color: white;
    text-align: center;
}

.standard-betsy-select {
    @include select.container-fill-color(('default': rgba(220, 221, 222, 1)))
}

.mdc-text-field {
    @include textfield.placeholder-color(theme.$grey-500);
}

.mdc-text-field ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: theme.$grey-500 !important;
    opacity: 1; /* Firefox */
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__affix--prefix {
    color: darkgray;
}

.mdc-list-item.mdc-list-item--with-one-line {
    height: 37px !important;
}

.mdc-list-item {
    @include list.deprecated-single-line-height(37px);
    @include list.deprecated-list-item-height(37px);
}

mdc-top-app-bar {
    background-color: rgb(28, 30, 31) !important;
}

.button-secondary:not(:disabled) {
    background-color: rgba(158, 61, 255, 1);
}

.mdc-tab .mdc-tab__text-label {
    color: #eaeaea !important;
}
.mdc-tab .mdc-tab__icon {
    color: #eaeaea !important;
}

.mdc-tab--active .mdc-tab__text-label, .mdc-tab--active .mdc-tab__icon {
    color: rgba(51, 151, 255, 1) !important;
}

@media (min-width: 1200px) {
    .mdc-dialog .mdc-dialog__surface {
        max-width: 960px !important;
    }
}
