.avatar {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    max-height: 100%;
    max-width: 100%;
}

.logo {
    height: 50px;
    width: 50px;
    max-height: 100%;
    max-width: 100%;
}

.list-item-padding {
    padding-left: 25px;
}

.mdc-top-app-bar {
    background-color: #1c1e1f !important;
}

.mdc-drawer .mdc-deprecated-list-item {
    color: #eaeaea !important;
}

.mdc-drawer .mdc-deprecated-list-item {
    margin: 1px 8px !important;
}
