@use "@material/drawer";
@use "@material/list";

@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.deprecated-core-styles;

.mdc-drawer {
    background-color: rgba(76, 96, 133, 1);
}

.close-icon {
    position: absolute;
    right: 0;
    z-index: 9999;
}
