#feature-item-list {
    .list-item-background {
        min-width: 300px;
        width: 50%;
        max-width: 700px;
    }

    @media (max-width: 1200px) {
        .list-item-background {
            width: 100% !important;
        }
    }

    .delete-icon {
        position: absolute;
        top: -8px;
        right: -50px;
        z-index: 99999;
    }
}
