@use 'styles/reset';
@use '~bootstrap/scss/bootstrap';
@use '~@aurelia-mdc-web/all';
@use '~lets-toast/build/lets-toast.min';
@use 'styles/mdc-styles';
@use 'styles/bootstrap-extras';
@use 'styles/md-overrides';

body {
  background-color: #202225;
}

.text-green {
    color: green;
}

#drawer {
  .mdc-list-item--selected .mdc-list-item__primary-text, .mdc-list-item--activated .mdc-list-item__primary-text {
    color: black !important;
  }

  .list-item-padding {
    padding-left: 25px;
  }

  .mdc-select__anchor {
    width: 300px !important;
  }

  .mdc-drawer__title {
    text-align: center;
  }
}

.cursor-pointer {
    cursor: pointer;
}
